.grids {
  /* background-color: red; */
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 100px 100px 100px;
  column-gap: 10px;
  row-gap: 10px;
  justify-items: stretch;
  /* align-items: stretch; */
}

.el--1 {
  /* justify-items: stretch; or align-items: stretch; will stretch element to its grid cell's dimensions */
  /* height: 50px;
  width: 50px; */
  background-color: red;
  /* padding-bottom: 200px; */
}
.el--2 {
  height: 50px;
  width: 50px;
  background-color: green;
}
.el--3 {
  height: 50px;
  width: 50px;
  background-color: blue;
}
.el--4 {
  height: 50px;
  width: 50px;
  background-color: yellow;
}
.el--5 {
  height: 50px;
  width: 50px;
  background-color: orange;
}
.el--6 {
  height: 50px;
  width: 50px;
  background-color: salmon;
}
.el--7 {
  height: 50px;
  width: 50px;
  background-color: purple;
}
.el--8 {
  height: 50px;
  width: 50px;
  background-color: peru;
}
.el--9 {
  height: 50px;
  width: 50px;
  background-color: lime;
}
