@tailwind base;
@tailwind components;
@tailwind utilities;

/* Table of Contents
- Body
- Typography
- Basic styles
- Palette
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Basic styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: red 1px solid; */
}
html {
  /* font-size: 62.5%; */
  /* font-size: 10px; */
  font-size: var(--base-px);
}
html,
body {
  height: 100%;
}

body {
  box-sizing: border-box;
  /* border: red 1px solid; */
  font-size: var(--font-size-base);
  /* font-size: 1.5em; currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  /* font-family: "Inter", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica,
    Arial, sans-serif; */
  color: var(--black);
  background-color: var(--white);
}

/* Typography
https://type-scale.com/
Base: 16px
Scale: 1.250 - Major Third

3.052rem  / 48.83px	
2.441rem  / 39.06px	
1.953rem  / 31.25px	
1.563rem  / 25.00px	
1.25rem   / 20.00px	
1rem      / 16.00px	
0.8rem    / 12.80px	
0.64rem   / 10.24px	
0.512rem  / 8.19px	
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --font-size-large-5: 3.052rem;
  --font-size-large-4: 2.441rem;
  --font-size-large-3: 1.953rem;
  --font-size-large-2: 1.563rem;
  --font-size-large-1: 1.25rem;
  --font-size-base: 1rem;
  --font-size-small-1: 0.8rem;
  --font-size-small-2: 0.64rem;
  --font-size-small-3: 0.512rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 400;
}

h1 {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
  font-weight: 600;
}
h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}
h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}
h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}
h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}
h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

p {
  margin-top: 0;
}

.superscript {
  vertical-align: super;
  font-size: var(--font-size-small-3);
}

/* Wrapper - Main grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.wrapper {
  display: flex;
  flex-direction: column;
  /* background: #f3f3f3; */
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.App-header {
  position: fixed; /* don't forget to add --app-header-height as margin-top to App-content */
  height: var(--app-header-height);
  width: 100%;

  display: flex;
  justify-content: center;
}

.header-navbar {
  background-color: var(--white);
  display: flex;
  padding: 0 35% 0 35%;
  width: auto;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  gap: var(---30);
  gap: 2rem;
}

.header-navbar * {
  border: 1px red solid;
}

@media screen and (max-width: 750px) {
  /* header-navbar needs to collapse into one MENU button */
}

.header-navbar-link {
  display: flex;
  width: 80px;
  margin: 0 1rem 0 1rem;
  justify-content: center;
  flex-shrink: 1;
}

.header-navbar-link > a {
  font-size: var(--font-size-small-1);
  color: var(--grey);
  text-decoration: none;
}

.header-navbar-link > a:hover {
  text-decoration: dashed;
  color: var(--grey-darken-1);
  font-size: calc(1.1 * var(--font-size-small-1));
}

/* Main content
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.App-content {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: var(--app-header-height);
  background-color: var(--white);
  background-color: transparent;
  /* after adding Mantine header I have to substract 2 * --app-header-height (2 * 64px) */
  min-height: calc(100vh - var(--app-header-height) * 2 - var(--footer-height));
}

@media screen and (max-width: 900px) {
  .App-content {
    width: 75%;
  }
}
@media screen and (max-width: 600px) {
  .App-content {
    width: 90%;
  }
}

/* Blog
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Table Of Contents
––––––––––––––––––––––––––––––––– */

.blog-toc ul {
  list-style: none;
}

/* Blogpost
––––––––––––––––––––––––––––––––– */
.blog-post {
  padding: var(---120);
}

.blog-post__header {
  padding-bottom: var(---80);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-post__header__title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}

.blog-post__header__author {
  font-size: var(--font-size-small-1);
  color: var(--grey-darken-2);
  font-weight: 300;
  align-self: flex-start;
}

.blog-post__body {
}

.blog-post__body__tldr {
  /* padding-bottom: var(---4rem); */
}

.blog-post__body p {
  /* padding-bottom: var(---2rem); */
}

/* add 1rem padding after every pre section that wraps code */
.blog-post__body pre {
  /* padding-bottom: var(---1rem); */
}

.blog-post__body li {
  /* list-style: none; */
}

.blog-post-navigation {
  display: flex;
  gap: var(---2rem);
  justify-content: space-between;
  padding-top: var(---2-5rem);
  padding-left: var(---80);
  padding-bottom: var(---3rem);
  padding-right: var(---80);
}

.blog-post-navigation > div {
  width: 100px;
}

.blog-post-navigation .next-blog-post a {
  float: right;
}

/* Projects
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.projects-grid {
  display: flex;
  padding-top: var(---5rem);
  padding-bottom: var(---5rem);
  gap: var(---1rem);
  height: 800px;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* ProjectCard */
.project-card {
  display: flex;
  flex-direction: column;
  background-color: var(--grey-lighten-5);
  padding: var(---1rem);
  border: 1px var(--grey-lighten-3) solid;
  border-radius: 10%;
  height: var(---20rem);
  flex: 0 0 var(---20rem); /* grow shrink basis */
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  /* transition-delay: 0.1s; */
}

.project-card:hover {
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.1);
}

.project-card__header {
  padding-top: var(---0-5rem);
  padding-bottom: var(---1rem);
  text-align: center;
  font-size: var(---20);
  border-bottom: 1px var(--grey) solid;
}

.project-card__description {
  padding-top: var(---1rem);
  padding-bottom: var(---1rem);
  line-height: var(---1-4rem);
  min-height: var(---110);
}

.project-card__links {
  display: flex;
  flex-direction: column;
  height: var(---5rem);
}

.project-card__link-item {
  display: flex;
}

.project-card__link-item__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: var(---2rem);
}
.project-card__link-item__header img {
  /* I pass height/width to each img from projectList.js */
  /* width: var(---1rem);
  height: var(---1rem); */
}

.project-card__progress-bar {
  padding-top: var(---0-5rem);
}

.project-card__link-item__body a {
  color: var(--black);
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.App-footer {
  /* position: relative; */
  height: var(--footer-height);
  width: 100%;
  /* background-color: #282c34; */
  background-color: rgb(5, 4, 4);
}

.App-footer p {
  color: var(--grey);
  font-size: var(---10);

  padding-top: var(---10);
  padding-left: var(---10);
  margin: 0;
}

.App-footer span.oda {
  color: var(--amber);
}

.App-link {
  color: #61dafb;
}

/* Dimensions
Base: 16px
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Basic */
:root {
  --base-px: 16px;
  --red-border: red 1px solid;
}

:root {
  ---8: 0.5rem;
  ---10: 0.625rem;
  ---16: 1rem;
  ---18: 1.2rem;
  ---20: 1.4rem;
  ---32: 2rem;
  ---40: 2.5rem;
  ---48: 3rem;
  ---64: 4rem;
  ---80: 5rem;
  ---100: 6.4rem;
  ---110: 7.025rem;
  ---120: 7.5rem;
  ---160: 10rem;
  ---320: 20rem;
  ---400: 25rem;
}

:root {
  ---0-5rem: var(---8);
  ---0-625rem: var(---10);
  ---1rem: var(---16);
  ---1-2rem: var(---18);
  ---1-4rem: var(---20);
  ---2rem: var(---32);
  ---2-5rem: var(---40);
  ---3rem: var(---48);
  ---4rem: var(---64);
  ---5rem: var(---80);
  ---6-4rem: var(---100);
  ---7-025rem: var(---110);
  ---10rem: var(---160);
  ---20rem: var(---320);
  ---25rem: var(---400);
}

/* Whitespace */
.pt--1rem {
  padding-top: var(---1rem);
}
.pb--1rem {
  padding-bottom: var(---1rem);
}
.pt--2rem {
  padding-top: var(---2rem);
}
.pb--2rem {
  padding-bottom: var(---2rem);
}
.pt--2-5rem {
  padding-top: var(---2-5rem);
}
.pb--2-5rem {
  padding-bottom: var(---2-5rem);
}
.pb--3rem {
  padding-bottom: var(---3rem);
}
.pt--4rem {
  padding-top: var(---4rem);
}
.pb--4rem {
  padding-bottom: var(---4rem);
}

/* Heights */
:root {
  --app-header-height: var(---4rem);
  --footer-height: var(---2rem);
}

/* Widths */

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside;
}
ol {
  list-style: decimal inside;
}
ol,
ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: var(---1-4rem) 0 var(---1-4rem) var(---3rem);
  font-size: 90%;
}
li {
  /* margin-bottom: var(---1rem); */
  margin-bottom: var(---0-5rem);
}

/* Palette
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* BLACK */
:root {
  --black: #000000;
}

/* WHITE */
:root {
  --white: #ffffff;
}

/* RED */
:root {
  --red-burgundy-dark: #1d0505e0;
  --red-burgundy: #800020;
}

/* AMBER */
:root {
  --amber-lighten-5: #fff8e1;
  --amber-lighten-4: #ffecb3;
  --amber-lighten-3: #ffe082;
  --amber-lighten-2: #ffd54f;
  --amber-lighten-1: #ffca28;
  --amber: #ffc107;
  --amber-darken-1: #ffb300;
  --amber-darken-2: #ffa000;
  --amber-darken-3: #ff8f00;
  --amber-darken-4: #ff6f00;
  --amber-accent-1: #ffe57f;
  --amber-accent-2: #ffd740;
  --amber-accent-3: #ffc400;
  --amber-accent-4: #ffab00;
}

/* GREY */
:root {
  --grey-lighten-5: #fafafa;
  --grey-lighten-4: #f5f5f5;
  --grey-lighten-3: #eeeeee;
  --grey-lighten-2: #e0e0e0;
  --grey-lighten-1: #bdbdbd;
  --grey: #9e9e9e;
  --grey-darken-1: #757575;
  --grey-darken-2: #616161;
  --grey-darken-3: #424242;
  --grey-darken-4: #212121;
}

.amber-accent-4 {
  color: var(--amber-accent-4);
}

.btn-post:hover {
  color: #61dafb;
  cursor: pointer;
}

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
  text-align: left;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Oda
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.oda {
  color: var(--amber-darken-4);
}

/* Images
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.three-days-later img {
  width: 100%;
}
.yahoo-prices-bug img {
  display: block;
  width: 100%;
}

/* Posts navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.posts-nav {
  padding: var(---20);
  grid-area: sidebar;
}

.posts-list {
  padding-top: var(---20);
}

.posts-nav li {
  list-style-type: none;
  margin: 0;
}

.posts-nav li a,
.posts-nav li a:active {
  color: var(--grey-darken-4);
  text-decoration: none;
}
.posts-nav li a:focus,
.posts-nav li a:hover {
  color: var(--grey-darken-2);
  list-style-type: none;
}
